<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">about</a></li>
                    <li><a href="https://Jswig.github.io/documents/resume-public.pdf">resume</a></li>
                    <li><a href="/projects">projects</a></li>
                    <!--
                    <li><a href="/tutoring">tutoring</li>
                    <li><a href="/blog">blog</a></li>
                    -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
                    <li><a href="https://github.com/Jswig">github.com/Jswig</a></li>
                    <li><a href="https://www.linkedin.com/in/anders-p-732595160/">linkedin/anders-p</a></li>
                    <li><a href="andersjopo@gmail.com">andersjopo@gmail.com</a></li>
				</ul>
			</footer>
		</body>
	</html>